<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <%- include("partials/navbar") %>
  <div class="container mt-4">
    <%- include(view) %>
  </div>
  <%- include("partials/footer") %>
</body>
</html>
