<h2>Adicionar Categoria</h2>
<form method="POST" action="/categorias/add">
  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" name="nome" required>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
