<h2>Alunos</h2>
<a href="/alunos/add" class="btn btn-success mb-3">Adicionar Aluno</a>
<table class="table">
  <thead><tr><th>ID</th><th>Nome</th><th>Ações</th></tr></thead>
  <tbody>
    <% alunos.forEach(a => { %>
      <tr>
        <td><%= a.id %></td>
        <td><%= a.nome %></td>
        <td>
          <a href="/alunos/edit/<%= a.id %>" class="btn btn-primary">Editar</a>
          <a href="/alunos/delete/<%= a.id %>" class="btn btn-danger">Excluir</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
